{{>AdminBarWithEdit}}<div class="is-root-container"><header><!-- TODO:group--><!-- TODO:group--><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"layout":{"inherit":true}} --><!--done{"layout":{"inherit":true}}--><!--done{"layout":{"inherit":true}}--><!--done{"layout":{"inherit":true}}--><!--donenull-->
<div class="wp-block-group"><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--large, 8rem)","top":"var(--wp--custom--spacing--small, 1.25rem)"}}},"layout":{"type":"flex","justifyContent":"space-between"}} --><!--done{"align":"wide","style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--large, 8rem)","top":"var(--wp--custom--spacing--small, 1.25rem)"}}},"layout":{"type":"flex","justifyContent":"space-between"}}--><!--donenull-->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--custom--spacing--small, 1.25rem);padding-bottom:var(--wp--custom--spacing--large, 8rem)"><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"layout":{"type":"flex"}} --><!--done{"layout":{"type":"flex"}}--><!--donenull-->
<div class="wp-block-group">{{>Logo}}<!--done{"width":64}-->

<div class="wp-block-group"><h1 data-style="" style="" class="entry-title alignnone ">{{{html-title-heading}}}</h1>{{>LanguageButton}}</div><!--done{"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}}}--></div>
<!-- /wp:group -->

<!-- wp_nav_menu: primary--><div class=" mw-wp-menu"><ul id="primary-menu" class="menu ">{{#data-portlets-sidebar.data-portlets-first}}{{{html-items}}}{{/data-portlets-sidebar.data-portlets-first}}<!-- get_menu_for_mediawiki: primary--></ul><!--{"echo":false,"theme_location":"primary"}--></div><!--done{"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right"}}-->
<!-- TODO:page-list--><!-- TODO:page-list--><!-- TODO:page-list--><!-- wp:page-list {"isNavigationChild":true,"showSubmenuIcon":true,"openSubmenusOnClick":false} /--><!--done{"isNavigationChild":true,"showSubmenuIcon":true,"openSubmenusOnClick":false}--><!--donenull--><!--donenull-->
<!-- /wp:navigation --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header><!--done{"slug":"header","tagName":"header"}-->

<!-- TODO:group--><!-- wp:group {"tagName":"main"} --><!--done{"tagName":"main"}-->
<main class="wp-block-group"><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"layout":{"inherit":true}} --><!--done{"layout":{"inherit":true}}--><!--done{"layout":{"inherit":true}}-->
<div class="wp-block-group"><h1 data-style="" style="" class="entry-title alignwide ">{{{html-title}}}</h1><!--done{"level":1,"style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--medium, 6rem)"}}}}-->

<!-- TODO:post-featured-image--><!-- TODO:post-featured-image--><!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--medium, 6rem)"}}}} /--><!--done{"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--medium, 6rem)"}}}}--><!--donenull-->

<!-- TODO:separator--><!-- wp:separator {"align":"wide","className":"is-style-wide"} --><!--done{"align":"wide","className":"is-style-wide"}-->
<hr class="wp-block-separator alignwide is-style-wide">
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- TODO:spacer--><!-- wp:spacer {"height":32} --><!--done{"height":32}-->
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<div id="siteNotice">{{{html-site-notice}}}</div><div id="content">{{{html-body-content}}}</div><div>{{{html-after-content}}}</div><!--done{"layout":{"inherit":true}}-->

<!-- TODO:group--><!-- TODO:group--><!-- wp:group {"layout":{"inherit":true}} --><!--done{"layout":{"inherit":true}}--><!--done{"layout":{"inherit":true}}-->
<div class="wp-block-group">
{{#data-portlets}}{{>CategoryPortlet}}{{/data-portlets}}<!--done{"style":{"spacing":{"padding":{"top":"var(--wp--custom--spacing--medium, 6rem)"}}}}--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<footer><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"style":{"spacing":{"padding":{"top":"var(--wp--custom--spacing--large, 8rem)"}}},"layout":{"inherit":true}} --><!--done{"style":{"spacing":{"padding":{"top":"var(--wp--custom--spacing--large, 8rem)"}}},"layout":{"inherit":true}}--><!--donenull-->
<div class="wp-block-group" style="padding-top:var(--wp--custom--spacing--large, 8rem)">
<!-- TODO:group--><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"align":"full","layout":{"inherit":true}} --><!--done{"align":"full","layout":{"inherit":true}}--><!--donenull--><!--donenull-->
					<div class="wp-block-group alignfull"><!-- TODO:group--><!-- TODO:group--><!-- TODO:group--><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"flex","justifyContent":"space-between"}} --><!--done{"align":"wide","style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"flex","justifyContent":"space-between"}}--><!--donenull--><!--donenull-->
					<div class="wp-block-group alignwide" style="padding-top:4rem;padding-bottom:4rem"><div class="wp-block-group">{{>CompactFooter}}</div><!--done{"level":0}-->

					<!-- TODO:paragraph--><!-- TODO:paragraph--><!-- TODO:paragraph--><!-- wp:paragraph {"align":"right"} --><!--done{"align":"right"}--><!--donenull--><!--donenull-->
					<p class="has-text-align-right">Proudly powered by <a href="https://wordpress.org" rel="nofollow">WordPress</a></p>
					<!-- /wp:paragraph --></div>
					<!-- /wp:group --></div>
					<!-- /wp:group --><!--done{"slug":"twentytwentytwo\/footer-default"}-->
</div>
<!-- /wp:group -->
</footer><!--done{"slug":"footer","tagName":"footer"}-->
</div>