{{>AdminBarWithEdit}}
<!-- do_action:start astra_body_top--><!-- do_action:end astra_body_top--><div 
class="hfeed site" id="page">
	<a class="skip-link screen-reader-text" href="#content">{{msg-astra-skip}}</a>
	<!-- do_action:start astra_header_before--><!-- do_action:end astra_header_before--><!-- do_action:start astra_header--><!-- do_action:start astra_header_markup_before--><!-- do_action:end astra_header_markup_before-->		<header
		class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline" id="masthead"		>
			<!-- do_action:start astra_masthead_top--><!-- do_action:end astra_masthead_top--><!-- do_action:start astra_masthead-->
<div class="main-header-bar-wrap">
	<div class="main-header-bar">
		<!-- do_action:start astra_main_header_bar_top--><!-- do_action:end astra_main_header_bar_top-->		<div class="ast-container">

			<div class="ast-flex main-header-container">
				<!-- do_action:start astra_masthead_content-->
		<div class="site-branding">
			<div
			class="ast-site-identity"			>
				<div class="ast-site-title-wrap">
						<h1 class="site-title">
				<a href="{{link-mainpage}}" rel="home" class="site-title-link" >
					{{msg-sitetitle}}
				</a>
			</h1>
						
				</div>			</div>
		</div>

		<!-- .site-branding -->
				<div class="ast-mobile-menu-buttons">

			<!-- do_action:start astra_masthead_toggle_buttons_before--><!-- do_action:end astra_masthead_toggle_buttons_before-->
			<!-- do_action:start astra_masthead_toggle_buttons-->		<div class="ast-button-wrap">
			<button type="button" class="menu-toggle main-header-menu-toggle  ast-mobile-menu-buttons-minimal "  aria-controls='primary-menu' aria-expanded='false'>
				<span class="screen-reader-text">{{msg-astra-mainmenu}}</span>
				
<span class="ast-icon icon-menu-bars"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="20px" height="20px" viewBox="57 41.229 26 18.806" enable-background="new 57 41.229 26 18.806" xml:space="preserve">
                <path d="M82.5,41.724h-25v3.448h25V41.724z M57.5,48.907h25v3.448h-25V48.907z M82.5,56.092h-25v3.448h25V56.092z"/>
                </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="-63 -63 140 140" enable-background="new -63 -63 140 140" xml:space="preserve">
                <path id="Shape" d="M75.133-47.507L61.502-61.133L7-6.625l-54.507-54.507l-13.625,13.625L-6.625,7l-54.507,54.503l13.625,13.63     L7,20.631l54.502,54.502l13.631-13.63L20.63,7L75.133-47.507z"/></svg></span>							</button>
		</div>
			<!-- do_action:end astra_masthead_toggle_buttons-->
			<!-- do_action:start astra_masthead_toggle_buttons_after--><!-- do_action:end astra_masthead_toggle_buttons_after-->
		</div>
			<div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation mw-wp-menu"><nav class="ast-flex-grow-1 navigation-accessibility" id="site-navigation" aria-label="Site Navigation"><div class="main-navigation"><ul id="mw-primary" class="main-header-menu ast-nav-menu ast-flex ast-justify-content-flex-end  submenu-with-border">{{#data-portlets-sidebar.data-portlets-first}}{{{html-items}}}{{/data-portlets-sidebar.data-portlets-first}}</ul></div></nav><!--{"theme_location":"primary","menu_id":"primary-menu","menu_class":"main-header-menu ast-nav-menu ast-flex ast-justify-content-flex-end  submenu-with-border","container":"div","container_class":"main-header-bar-navigation","items_wrap":"<nav class=\"ast-flex-grow-1 navigation-accessibility\" id=\"site-navigation\" aria-label=\"Site Navigation\"><div class=\"main-navigation\"><ul id=\"%1$s\" class=\"%2$s\">%3$s<\/ul><\/div><\/nav>"}--></div>
</div><!-- do_action:end astra_masthead_content-->			</div><!-- Main Header Container -->
		</div><!-- ast-row -->
		<!-- do_action:start astra_main_header_bar_bottom--><!-- do_action:end astra_main_header_bar_bottom-->	</div> <!-- Main Header Bar -->
</div> <!-- Main Header Bar Wrap -->
<div id="ast-desktop-header" data-toggle-type="dropdown">
	<!-- do_action:start astra_main_header_bar_top--><!-- do_action:end astra_main_header_bar_top--><!-- do_action:start astra_above_header--><!-- do_action:end astra_above_header--><!-- do_action:start astra_primary_header--><!-- do_action:end astra_primary_header--><!-- do_action:start astra_below_header--><!-- do_action:end astra_below_header--><!-- do_action:start astra_main_header_bar_bottom--><!-- do_action:end astra_main_header_bar_bottom-->	<div class="ast-desktop-header-content content-align-flex-start ">
		<!-- do_action:start astra_desktop_header_content--><!-- do_action:end astra_desktop_header_content-->	</div>
</div> <!-- Main Header Bar Wrap -->
<!-- do_action:start astra_mobile_header--><div id="ast-mobile-header" class="ast-mobile-header-wrap " data-type="dropdown">
	<!-- do_action:start astra_mobile_header_bar_top--><!-- do_action:end astra_mobile_header_bar_top--><!-- do_action:start astra_mobile_above_header--><!-- do_action:end astra_mobile_above_header--><!-- do_action:start astra_mobile_primary_header--><!-- do_action:end astra_mobile_primary_header--><!-- do_action:start astra_mobile_below_header--><!-- do_action:end astra_mobile_below_header--><!-- do_action:start astra_main_header_bar_bottom--><!-- do_action:end astra_main_header_bar_bottom-->	<div class="ast-mobile-header-content content-align-flex-start ">
		<!-- do_action:start astra_mobile_header_content-->		<div class="ast-builder-menu-mobile ast-builder-menu ast-builder-menu-mobile-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-header-mobile-menu">
			<!-- do_action:start astra_header_menu_mobile--><div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation mw-wp-menu"><nav class="ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="site-navigation" aria-label="Site Navigation"><div class="main-navigation"><ul id="mw-mobile_menu" class="main-header-menu ast-nav-menu ast-flex  submenu-with-border astra-menu-animation-fade  stack-on-mobile"><!-- TODO:wp_nav_menu: mobile_menu--></ul></div></nav><!--{"menu_id":"ast-hf-mobile-menu","menu_class":"main-header-menu ast-nav-menu ast-flex  submenu-with-border astra-menu-animation-fade  stack-on-mobile","container":"div","container_class":"main-header-bar-navigation","items_wrap":"<nav class=\"ast-flex-grow-1 navigation-accessibility site-header-focus-item\" id=\"site-navigation\" aria-label=\"Site Navigation\"><div class=\"main-navigation\"><ul id=\"%1$s\" class=\"%2$s\">%3$s<\/ul><\/div><\/nav>","theme_location":"mobile_menu"}--></div>
</div><!-- do_action:end astra_header_menu_mobile-->		</div>
		<!-- do_action:end astra_mobile_header_content-->	</div>
</div>
<!-- do_action:end astra_mobile_header--><!-- do_action:end astra_masthead--><!-- do_action:start astra_masthead_bottom--><!-- do_action:end astra_masthead_bottom--><!-- do_action:start astra_sticky_header_markup--><!-- do_action:end astra_sticky_header_markup--><!-- do_action:start astra_bottom_header_after_markup--><!-- do_action:end astra_bottom_header_after_markup-->		</header><!-- #masthead -->
		<!-- do_action:start astra_header_markup_after--><!-- do_action:end astra_header_markup_after--><!-- do_action:end astra_header--><!-- do_action:start astra_header_after--><!-- do_action:end astra_header_after--><!-- do_action:start astra_content_before--><!-- do_action:end astra_content_before-->	<div id="content" class="site-content">
		<div class="ast-container">
		<!-- do_action:start astra_content_top--><!-- do_action:end astra_content_top-->

	<div id="primary" class="content-area primary">

		<!-- do_action:start astra_primary_content_top--><!-- do_action:end astra_primary_content_top-->
		<!-- do_action:start astra_content_loop-->			<main id="main" class="site-main">
				<!-- do_action:start astra_template_parts_content_top--><div class="ast-row"><!-- do_action:end astra_template_parts_content_top--><!-- do_action:start astra_template_parts_content-->
<!-- do_action:start astra_entry_before--><!-- do_action:end astra_entry_before-->
<article
class=" mw-post" id="post-0">

	<!-- do_action:start astra_entry_top--><!-- do_action:end astra_entry_top-->
	<!-- do_action:start astra_entry_content_single-->
<div class="ast-post-format-standard ast-no-thumb single-layout-1">

	<!-- do_action:start astra_single_header_before--><!-- do_action:end astra_single_header_before-->
	<header class="entry-header ast-no-thumbnail ast-no-meta">

		<!-- do_action:start astra_single_header_top--><!-- do_action:end astra_single_header_top-->
		<!-- do_action:start astra_blog_single_featured_image_before--><!-- do_action:end astra_blog_single_featured_image_before--><!-- do_action:start astra_blog_single_featured_image_after--><!-- do_action:end astra_blog_single_featured_image_after--><!-- do_action:start astra_blog_single_title_meta_before--><!-- do_action:end astra_blog_single_title_meta_before--><!-- do_action:start astra_single_post_order_before--><!-- do_action:end astra_single_post_order_before-->		<div class="ast-single-post-order">
			<!-- do_action:start astra_single_post_title_before--><!-- do_action:end astra_single_post_title_before--><h1 class="entry-title" >{{{html-title}}}</h1><!-- do_action:start astra_single_post_title_after--><!-- do_action:end astra_single_post_title_after--><!-- do_action:start astra_single_post_meta_before--><!-- do_action:end astra_single_post_meta_before--><!-- do_action:start astra_single_post_meta_after--><!-- do_action:end astra_single_post_meta_after-->		</div>
		<!-- do_action:start astra_single_post_order_after--><!-- do_action:end astra_single_post_order_after--><!-- do_action:start astra_blog_single_title_meta_after--><!-- do_action:end astra_blog_single_title_meta_after-->
		<!-- do_action:start astra_single_header_bottom--><!-- do_action:end astra_single_header_bottom-->
	</header><!-- .entry-header -->

	<!-- do_action:start astra_single_header_after--><!-- do_action:end astra_single_header_after-->
	<div class="entry-content clear" 
		>

		<!-- do_action:start astra_entry_content_before--><!-- do_action:end astra_entry_content_before-->
		{{{html-body-content}}}

		
		<!-- do_action:start astra_entry_content_after--><!-- do_action:end astra_entry_content_after-->
			</div><!-- .entry-content .clear -->
</div>
<!-- do_action:end astra_entry_content_single-->
	<!-- do_action:start astra_entry_bottom--><!-- do_action:end astra_entry_bottom-->
</article><!-- #post-## -->

<!-- do_action:start astra_entry_after--><!-- do_action:end astra_entry_after--><!-- do_action:end astra_template_parts_content--><!-- do_action:start astra_template_parts_content_bottom--></div><!-- do_action:end astra_template_parts_content_bottom-->			</main><!-- #main -->
			<!-- do_action:end astra_content_loop-->
		<!-- do_action:start astra_primary_content_bottom--><!-- do_action:end astra_primary_content_bottom-->
	</div><!-- #primary -->


	<!-- do_action:start get_sidebar--><!-- do_action:end get_sidebar--><div class="widget-area secondary" id="secondary" role="complementary">
	<div class="sidebar-main" >
		<!-- do_action:start astra_sidebars_before--><!-- do_action:end astra_sidebars_before-->		{{#data-portlets.array-portlets-rest}}<section class="widget widget_{{id}}">
<h2 class="widget-title">{{label}}</h2>
<ul>{{{html-items}}}</ul>
{{{html-after-portal}}}
</section>{{/data-portlets.array-portlets-rest}}{{#data-portlets-sidebar.array-portlets-rest}}<section class="widget widget_{{id}}">
<h2 class="widget-title">{{label}}</h2>
<ul>{{{html-items}}}</ul>
{{{html-after-portal}}}
</section>{{/data-portlets-sidebar.array-portlets-rest}}<section class="widget widget_categories">
<h2 class="widget-title">{{msg-categories}}</h2>{{{html-categories}}}<sub><a href="{{data-search-box.form-action}}?title=Special:Categories">See all categories</a></sub></section><!-- do_action:start astra_sidebars_after--><!-- do_action:end astra_sidebars_after-->
	</div><!-- .sidebar-main -->
</div><!-- #secondary -->


<!-- do_action:start astra_content_bottom--><!-- do_action:end astra_content_bottom-->	</div> <!-- ast-container -->
	</div><!-- #content -->
<!-- do_action:start astra_content_after--><!-- do_action:end astra_content_after--><!-- do_action:start astra_footer_before--><!-- do_action:end astra_footer_before--><!-- do_action:start astra_footer-->
		<footer
		class="site-footer" id="colophon"		>

			<!-- do_action:start astra_footer_content_top--><!-- do_action:end astra_footer_content_top-->
			<!-- do_action:start astra_footer_content-->
<div class="ast-small-footer footer-sml-layout-1">
	<div class="ast-footer-overlay">
		<div class="ast-container">
			<div class="ast-small-footer-wrap" >
									<div class="ast-small-footer-section ast-small-footer-section-1" >
						Copyright &copy; <date>2022</date> <span class="ast-footer-site-title">{{msg-sitetitle}}</span> | Powered by <a href="https://wpastra.com/">Astra WordPress Theme<!--TODO: i18n: astra --></a><!--TODO: i18n: astra -->					</div>
				
				
			</div><!-- .ast-row .ast-small-footer-wrap -->
		</div><!-- .ast-container -->
	</div><!-- .ast-footer-overlay -->
</div><!-- .ast-small-footer-->
<!-- do_action:end astra_footer_content-->
			<!-- do_action:start astra_footer_content_bottom--><!-- do_action:end astra_footer_content_bottom-->
		</footer><!-- #colophon -->
		<footer
class="site-footer" id="colophon">
	<!-- do_action:start astra_footer_content_top--><!-- do_action:end astra_footer_content_top-->		<!-- do_action:start astra_above_footer--><!-- do_action:end astra_above_footer--><!-- do_action:start astra_primary_footer--><!-- do_action:end astra_primary_footer--><!-- do_action:start astra_below_footer--><!-- do_action:end astra_below_footer-->	<!-- do_action:start astra_footer_content_bottom--><!-- do_action:end astra_footer_content_bottom--></footer><!-- #colophon -->
<!-- do_action:end astra_footer--><!-- do_action:start astra_footer_after--><!-- do_action:end astra_footer_after-->	</div><!-- #page -->
<!-- do_action:start astra_body_bottom--><!-- do_action:end astra_body_bottom-->	