<span class="skin-category-links mw-portlet mw-portlet-category-normal">{{#data-portlets.data-category-normal.array-items}}{{{html}}} {{/data-portlets.data-category-normal.array-items}}</span></span>
