{{>AdminBarWithEdit}}<!-- generated-from:single-->
<!-- do_action:start kadence_before_wrapper--><!-- do_action:end kadence_before_wrapper--><div id="wrapper" class="site wp-site-blocks">
	<!-- do_action:start kadence_before_header-->		<a class="skip-link screen-reader-text scroll-ignore" href="#main">Skip to content</a>
		<!-- do_action:end kadence_before_header--><!-- do_action:start kadence_header--><header id="masthead" class="site-header" role="banner" itemtype="https://schema.org/WPHeader" itemscope="">
	<div id="main-header" class="site-header-wrap">
		<div class="site-header-inner-wrap">
			<div class="site-header-upper-wrap">
				<div class="site-header-upper-inner-wrap">
					<!-- do_action:start kadence_top_header--><!-- do_action:end kadence_top_header--><!-- do_action:start kadence_main_header--><div class="site-main-header-wrap site-header-row-container site-header-focus-item site-header-row-layout-standard" data-section="kadence_customizer_header_main">
	<div class="site-header-row-container-inner">
				<div class="site-container">
			<div class="site-main-header-inner-wrap site-header-row site-header-row-has-sides site-header-row-no-center">
									<div class="site-header-main-section-left site-header-section site-header-section-left">
						<!-- do_action:start kadence_render_header_column--><div class="site-header-item site-header-focus-item" data-section="title_tagline">
	<!-- do_action:start kadence_site_branding--><div class="site-branding branding-layout-standard"><a class="brand has-logo-image" href="{{link-mainpage}}" rel="home" aria-label="{{msg-sitetitle}}"><!-- do_action:start before_kadence_logo_output--><!-- do_action:end before_kadence_logo_output--><!-- wp_get_attachment_image:custom_logo-->{{>Logo}}<div class="site-title-wrap"><p class="site-title">{{msg-sitetitle}}</p></div></a></div><!-- do_action:end kadence_site_branding--></div><!-- data-section="title_tagline" -->
<!-- do_action:end kadence_render_header_column-->					</div>
																	<div class="site-header-main-section-right site-header-section site-header-section-right">
						<!-- do_action:start kadence_render_header_column--><div class="site-header-item site-header-focus-item site-header-item-main-navigation header-navigation-layout-stretch-false header-navigation-layout-fill-stretch-false" data-section="kadence_customizer_primary_navigation">
	<!-- do_action:start kadence_primary_navigation-->	<nav id="site-navigation" class="main-navigation header-navigation nav--toggle-sub header-navigation-style-standard header-navigation-dropdown-animation-none" role="navigation" aria-label="">
				<div class="primary-menu-container header-menu-container">
			<!-- wp_nav_menu: primary--><div class=" mw-wp-menu"><ul id="primary-menu" class="menu ">{{#data-portlets-sidebar.data-portlets-first}}{{{html-items}}}{{/data-portlets-sidebar.data-portlets-first}}<!-- get_menu_for_mediawiki: primary--></ul><!--{"menu_id":"primary-menu","container":"ul","sub_arrows":true,"mega_support":true,"addon_support":true,"theme_location":"primary"}--></div>
		</div>
	</nav><!-- #site-navigation -->
	<!-- do_action:end kadence_primary_navigation--></div><!-- data-section="primary_navigation" -->
<!-- do_action:end kadence_render_header_column-->					</div>
							</div>
		</div>
	</div>
</div>
<!-- do_action:end kadence_main_header-->				</div>
			</div>
			<!-- do_action:start kadence_bottom_header--><!-- do_action:end kadence_bottom_header-->		</div>
	</div>
	<!-- do_action:start kadence_mobile_header-->
<div id="mobile-header" class="site-mobile-header-wrap">
	<div class="site-header-inner-wrap">
		<div class="site-header-upper-wrap">
			<div class="site-header-upper-inner-wrap">
			<!-- do_action:start kadence_mobile_top_header--><!-- do_action:end kadence_mobile_top_header--><!-- do_action:start kadence_mobile_main_header--><div class="site-main-header-wrap site-header-focus-item site-header-row-layout-standard site-header-row-tablet-layout-default site-header-row-mobile-layout-default ">
	<div class="site-header-row-container-inner">
		<div class="site-container">
			<div class="site-main-header-inner-wrap site-header-row site-header-row-has-sides site-header-row-no-center">
									<div class="site-header-main-section-left site-header-section site-header-section-left">
						<!-- do_action:start kadence_render_mobile_header_column--><div class="site-header-item site-header-focus-item" data-section="title_tagline">
	<!-- do_action:start kadence_mobile_site_branding--><div class="site-branding mobile-site-branding branding-layout-standard branding-tablet-layout-inherit branding-mobile-layout-inherit"><a class="brand has-logo-image" href="{{link-mainpage}}" rel="home" aria-label="{{msg-sitetitle}}"><!-- do_action:start before_kadence_mobile_logo_output--><!-- do_action:end before_kadence_mobile_logo_output--><!-- wp_get_attachment_image:custom_logo-->{{>Logo}}<div class="site-title-wrap"><div class="site-title vs-md-false">{{msg-sitetitle}}</div></div></a></div><!-- do_action:end kadence_mobile_site_branding--></div><!-- data-section="title_tagline" -->
<!-- do_action:end kadence_render_mobile_header_column-->					</div>
																	<div class="site-header-main-section-right site-header-section site-header-section-right">
						<!-- do_action:start kadence_render_mobile_header_column--><div class="site-header-item site-header-focus-item site-header-item-navgation-popup-toggle" data-section="kadence_customizer_mobile_trigger">
	<!-- do_action:start kadence_navigation_popup_toggle-->	<div class="mobile-toggle-open-container">
						<button id="mobile-toggle" class="menu-toggle-open drawer-toggle menu-toggle-style-default" aria-label="" data-toggle-target="#mobile-drawer" data-toggle-body-class="showing-popup-drawer-from-right" aria-expanded="false" data-set-focus=".menu-toggle-close">
						<span class="menu-toggle-icon"><span class="kadence-svg-iconset"><svg aria-hidden="true" class="kadence-svg-icon kadence-menu-svg" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Toggle Menu</title><path d="M3 13h18c0.552 0 1-0.448 1-1s-0.448-1-1-1h-18c-0.552 0-1 0.448-1 1s0.448 1 1 1zM3 7h18c0.552 0 1-0.448 1-1s-0.448-1-1-1h-18c-0.552 0-1 0.448-1 1s0.448 1 1 1zM3 19h18c0.552 0 1-0.448 1-1s-0.448-1-1-1h-18c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path>
				</svg></span></span>
		</button>
	</div>
	<!-- do_action:end kadence_navigation_popup_toggle--></div><!-- data-section="mobile_trigger" -->
<!-- do_action:end kadence_render_mobile_header_column-->					</div>
							</div>
		</div>
	</div>
</div>
<!-- do_action:end kadence_mobile_main_header-->			</div>
		</div>
		<!-- do_action:start kadence_mobile_bottom_header--><!-- do_action:end kadence_mobile_bottom_header-->	</div>
</div>
<!-- do_action:end kadence_mobile_header--></header><!-- #masthead -->
<!-- do_action:end kadence_header--><!-- do_action:start kadence_after_header--><!-- do_action:end kadence_after_header-->
	<div id="inner-wrap" class="wrap hfeed kt-clear">
		<!-- do_action:start kadence_before_content--><!-- do_action:end kadence_before_content--><!-- do_action:start kadence_single--><!-- do_action:start kadence_hero_header--><!-- do_action:end kadence_hero_header--><div id="primary" class="content-area">
	<div class="content-container site-container">
		<main id="main" class="site-main" role="main">
			<!-- do_action:start kadence_before_main_content--><!-- do_action:end kadence_before_main_content-->			<div class="content-wrap">
				<!-- do_action:start kadence_single_content--><article id="post-main-article" class="entry content-bg single-entry">
	<div class="entry-content-wrap">
		<!-- do_action:start kadence_single_before_inner_content--><!-- do_action:end kadence_single_before_inner_content--><header class="entry-header post-title title-align-inherit title-tablet-align-inherit title-mobile-align-inherit">
	<!-- do_action:start kadence_single_before_entry_header--><!-- do_action:end kadence_single_before_entry_header--><!-- do_action:start kadence_entry_header-->		<div class="entry-taxonomies">
			<span class="category-links term-links category-style-normal">
				{{#data-portlets.data-category-normal.array-items}}{{{html}}} {{/data-portlets.data-category-normal.array-items}}			</span>
		</div><!-- .entry-taxonomies -->
		<!-- do_action:start kadence_single_before_entry_title--><!-- do_action:end kadence_single_before_entry_title--><h1 class="entry-title">{{{html-title}}}</h1>{{>LanguageButton}}
<!-- do_action:start kadence_single_after_entry_title--><!-- do_action:end kadence_single_after_entry_title--><div class="entry-meta entry-meta-divider-dot">
	<!-- do_action:start kadence_before_entry_meta--><!-- do_action:end kadence_before_entry_meta-->					<span class="posted-on">
						<time class="entry-date published">{{>LastModifiedLine}}</time><time class="updated"></time>					</span>
					<!-- do_action:start kadence_after_entry_meta--><!-- do_action:end kadence_after_entry_meta--></div><!-- .entry-meta -->
<!-- do_action:end kadence_entry_header--><!-- do_action:start kadence_single_after_entry_header--><!-- do_action:end kadence_single_after_entry_header--></header><!-- .entry-header -->

<div class="entry-content single-content">
	<!-- do_action:start kadence_single_before_entry_content--><!-- do_action:end kadence_single_before_entry_content--><div id="siteNotice">{{{html-site-notice}}}</div><div id="content">{{{html-body-content}}}</div><div>{{{html-after-content}}}</div>
<!-- placeholder:categories --><!-- do_action:start kadence_single_after_entry_content--><!-- do_action:end kadence_single_after_entry_content--></div><!-- .entry-content -->
<footer class="entry-footer">
	<div class="entry-tags">{{>CompactFooter}}</div><!-- .entry-tags -->
</footer><!-- .entry-footer -->
<!-- do_action:start kadence_single_after_inner_content--><!-- do_action:end kadence_single_after_inner_content-->	</div>
</article><!-- #post-main-article -->

<!-- placeholder:get_the_post_navigation --><!-- do_action:end kadence_single_content-->			</div>
			<!-- do_action:start kadence_after_main_content--><!-- do_action:end kadence_after_main_content-->		</main><!-- #main -->
		<!-- do_action:start get_sidebar--><!-- do_action:end get_sidebar-->	</div>
</div><!-- #primary -->
<!-- do_action:end kadence_single--><!-- do_action:start kadence_after_content--><!-- do_action:end kadence_after_content-->	</div><!-- #inner-wrap -->
	<!-- do_action:start kadence_before_footer--><!-- do_action:end kadence_before_footer--><!-- do_action:start kadence_footer--><footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-footer-wrap">
		<!-- do_action:start kadence_top_footer--><!-- do_action:end kadence_top_footer--><!-- do_action:start kadence_middle_footer--><!-- do_action:end kadence_middle_footer--><!-- do_action:start kadence_bottom_footer--><div class="site-bottom-footer-wrap site-footer-row-container site-footer-focus-item site-footer-row-layout-standard site-footer-row-tablet-layout-default site-footer-row-mobile-layout-default" data-section="kadence_customizer_footer_bottom">
	<div class="site-footer-row-container-inner">
				<div class="site-container">
			<div class="site-bottom-footer-inner-wrap site-footer-row site-footer-row-columns-1 site-footer-row-column-layout-row site-footer-row-tablet-column-layout-default site-footer-row-mobile-column-layout-row ft-ro-dir-row ft-ro-collapse-normal ft-ro-t-dir-default ft-ro-m-dir-default ft-ro-lstyle-plain">
									<div class="site-footer-bottom-section-1 site-footer-section footer-section-inner-items-1">
						<!-- do_action:start kadence_render_footer_column-->
<div class="footer-widget-area site-info site-footer-focus-item content-align-default content-tablet-align-default content-mobile-align-default content-valign-default content-tablet-valign-default content-mobile-valign-default" data-section="kadence_customizer_footer_html">
	<div class="footer-widget-area-inner site-info-inner">
		<!-- do_action:start kadence_footer_html--><div class="footer-html inner-link-style-normal"><div class="footer-html-inner"><p>© {{>LastModifiedLine}} {{msg-sitetitle}} - WordPress Theme by <a href="https://www.kadencewp.com/" rel="nofollow noopener" target="_blank">Kadence WP</a></p>
</div></div><!-- do_action:end kadence_footer_html-->	</div>
</div><!-- .site-info -->
<!-- do_action:end kadence_render_footer_column-->					</div>
								</div>
		</div>
	</div>
</div>
<!-- do_action:end kadence_bottom_footer-->	</div>
</footer><!-- #colophon -->

<!-- do_action:end kadence_footer--><!-- do_action:start kadence_after_footer--><!-- do_action:end kadence_after_footer--></div><!-- #wrapper -->
<!-- do_action:start kadence_after_wrapper--><!-- do_action:end kadence_after_wrapper-->
<!-- do_action:start wp_footer-->			<script>document.documentElement.style.setProperty('--scrollbar-offset', window.innerWidth - document.documentElement.clientWidth + 'px' );</script>
				<div id="mobile-drawer" class="popup-drawer popup-drawer-layout-sidepanel popup-drawer-animation-fade popup-drawer-side-right" data-drawer-target-string="#mobile-drawer">
		<div class="drawer-overlay" data-drawer-target-string="#mobile-drawer"></div>
		<div class="drawer-inner">
						<div class="drawer-header">
				<button class="menu-toggle-close drawer-toggle" aria-label="" data-toggle-target="#mobile-drawer" data-toggle-body-class="showing-popup-drawer-from-right" aria-expanded="false" data-set-focus=".menu-toggle-open">
					<span class="toggle-close-bar"></span>
					<span class="toggle-close-bar"></span>
				</button>
			</div>
			<div class="drawer-content mobile-drawer-content content-align-left content-valign-top">
				<!-- do_action:start kadence_before_mobile_navigation_popup--><!-- do_action:end kadence_before_mobile_navigation_popup-->				<div class="site-header-item site-header-focus-item site-header-item-mobile-navigation mobile-navigation-layout-stretch-false" data-section="kadence_customizer_mobile_navigation">
	<!-- do_action:start kadence_mobile_navigation-->	<nav id="mobile-site-navigation" class="mobile-navigation drawer-navigation drawer-navigation-parent-toggle-false" role="navigation" aria-label="">
				<div class="mobile-menu-container drawer-menu-container">
			<!-- wp_nav_menu: mobile--><div class=" mw-wp-menu"><ul id="mobile-menu" class="menu menu has-collapse-sub-nav">{{#data-portlets-sidebar}}{{#data-portlets-first}}{{{html-items}}}{{/data-portlets-first}}{{#array-portlets-rest}}{{{html-items}}}{{/array-portlets-rest}}{{/data-portlets-sidebar}}<!-- get_menu_for_mediawiki: mobile--></ul><!--{"menu_id":"mobile-menu","menu_class":"menu has-collapse-sub-nav","container":"ul","addon_support":true,"mega_support":true,"show_toggles":true,"theme_location":"mobile"}--></div>
		</div>
	</nav><!-- #site-navigation -->
	<!-- do_action:end kadence_mobile_navigation--></div><!-- data-section="mobile_navigation" -->
				<!-- do_action:start kadence_after_mobile_navigation_popup--><!-- do_action:end kadence_after_mobile_navigation_popup-->			</div>
		</div>
	</div>
	<!-- do_action:end wp_footer-->