<span class="skin-last-modified">
    {{! this typically contains elements other than last modified}}
    {{#data-footer.data-info.array-items}}
    <span class="skin-last-modified-{{id}}">{{{html}}}</span>
    {{/data-footer.data-info.array-items}}
</span>
<style type="text/css">
.skin-last-modified > span { display: none; }
.skin-last-modified > span.skin-last-modified-footer-info-lastmod { display: inherit; }
</style>
<script type="text/javascript">
try {
    document.querySelectorAll( '.skin-last-modified > .skin-last-modified-footer-info-lastmod' ).forEach(function ( node ) {
        node.parentNode.innerHTML = node.innerHTML;
    } );
} catch ( e ) {

}
</script>
