{{>AdminBarWithEdit}}<!-- generated-from:singular-->

	
	<!-- do_action:start ocean_before_outer_wrap--><!-- do_action:end ocean_before_outer_wrap-->
	<div id="outer-wrap" class="site clr">

		<a class="skip-link screen-reader-text" href="#main">{{msg-oceanwp-0}}</a>

		<!-- do_action:start ocean_before_wrap--><!-- do_action:end ocean_before_wrap-->
		<div id="wrap" class="clr">

			<!-- do_action:start ocean_top_bar-->
<!-- do_action:start ocean_before_top_bar--><!-- do_action:end ocean_before_top_bar-->
<div id="top-bar-wrap" class="clr">

	<div id="top-bar" class="clr container has-no-content">

		<!-- do_action:start ocean_before_top_bar_inner--><!-- do_action:end ocean_before_top_bar_inner-->
		<div id="top-bar-inner" class="clr">

			
	<div id="top-bar-content" class="clr top-bar-left">

		
<div id="top-bar-nav" class="navigation clr">

	<!-- wp_nav_menu: topbar_menu--><ul id="topbar_menu-menu" class="menu top-bar-menu dropdown-menu sf-menu"><!-- TODO:get_menu_for_mediawiki: topbar_menu--><!-- get_menu_for_mediawiki: topbar_menu--></ul><!--{"theme_location":"topbar_menu","fallback_cb":false,"container":false,"menu_class":"top-bar-menu dropdown-menu sf-menu","walker":{"tree_type":["post_type","taxonomy","custom"],"db_fields":{"parent":"menu_item_parent","id":"db_id"}}}-->

</div>

		
			
	</div><!-- #top-bar-content -->



		</div><!-- #top-bar-inner -->

		<!-- do_action:start ocean_after_top_bar_inner--><!-- do_action:end ocean_after_top_bar_inner-->
	</div><!-- #top-bar -->

</div><!-- #top-bar-wrap -->

<!-- do_action:start ocean_after_top_bar--><!-- do_action:end ocean_after_top_bar--><!-- do_action:end ocean_top_bar-->
			<!-- do_action:start ocean_header--><!-- do_action:start ocean_before_header--><!-- do_action:end ocean_before_header-->
<header id="site-header" class="minimal-header clr" data-height="74" itemscope="itemscope" itemtype="https://schema.org/WPHeader" role="banner">

	
					<!-- do_action:start ocean_before_header_inner--><!-- do_action:end ocean_before_header_inner-->
			<div id="site-header-inner" class="clr container">

				<!-- do_action:start ocean_header_inner_left_content--><!-- do_action:end ocean_header_inner_left_content-->
				<!-- do_action:start ocean_header_inner_middle_content-->
<!-- do_action:start ocean_before_logo--><!-- do_action:end ocean_before_logo-->
<div id="site-logo" class="clr" itemscope="" itemtype="https://schema.org/Brand">

	<!-- do_action:start ocean_before_logo_inner--><!-- do_action:end ocean_before_logo_inner-->
	<div id="site-logo-inner" class="clr">

		<!-- do_action:start ocean_before_logo_img--><!-- do_action:end ocean_before_logo_img-->{{>Logo}}<!-- do_action:start ocean_after_logo_img--><!-- do_action:end ocean_after_logo_img-->
	</div><!-- #site-logo-inner -->

	<!-- do_action:start ocean_after_logo_inner--><!-- do_action:end ocean_after_logo_inner-->
	
</div><!-- #site-logo -->

<!-- do_action:start ocean_after_logo--><!-- do_action:end ocean_after_logo--><!-- do_action:start ocean_before_nav--><!-- do_action:end ocean_before_nav-->			<div id="site-navigation-wrap" class="clr">
			
			<!-- do_action:start ocean_before_nav_inner--><!-- do_action:end ocean_before_nav_inner-->
			
			<nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">

				<!-- wp_nav_menu: main_menu--><ul id="main_menu-menu" class="menu main-menu dropdown-menu sf-menu">{{#data-portlets-sidebar.data-portlets-first}}{{{html-items}}}{{/data-portlets-sidebar.data-portlets-first}}<!-- get_menu_for_mediawiki: main_menu--></ul><!--{"theme_location":"main_menu","menu_class":"main-menu dropdown-menu sf-menu","container":false,"fallback_cb":false,"link_before":"<span class=\"text-wrap\">","link_after":"<\/span>","walker":{"tree_type":["post_type","taxonomy","custom"],"db_fields":{"parent":"menu_item_parent","id":"db_id"}}}-->

<div id="searchform-dropdown" class="header-searchform-wrap clr">
	{{>WPSearch}}</div><!-- #searchform-dropdown -->

			</nav><!-- #site-navigation -->

			
			<!-- do_action:start ocean_after_nav_inner--><!-- do_action:end ocean_after_nav_inner-->
					</div><!-- #site-navigation-wrap -->
			
		<!-- do_action:start ocean_after_nav--><!-- do_action:end ocean_after_nav-->
	<!-- do_action:end ocean_header_inner_middle_content-->
				<!-- do_action:start ocean_header_inner_right_content-->
	<!-- do_action:start ocean_mobile_menu_icon_before--><!-- do_action:end ocean_mobile_menu_icon_before-->
	<div class="oceanwp-mobile-menu-icon clr mobile-right">

		<!-- do_action:start ocean_before_mobile_icon--><!-- do_action:end ocean_before_mobile_icon-->
		
		<!-- do_action:start ocean_before_mobile_icon_inner--><!-- do_action:end ocean_before_mobile_icon_inner-->
		<a href="#" class="mobile-menu" aria-label="">
							<i class="fa fa-bars" aria-hidden="true"></i>
								<span class="oceanwp-text">Menu</span>
				<span class="oceanwp-close-text">Close</span>
						</a>

		<!-- do_action:start ocean_after_mobile_icon_inner--><!-- do_action:end ocean_after_mobile_icon_inner-->
		
		<!-- do_action:start ocean_after_mobile_icon--><!-- do_action:end ocean_after_mobile_icon-->
	</div><!-- #oceanwp-mobile-menu-navbar -->

	<!-- do_action:start ocean_mobile_menu_icon_after--><!-- do_action:end ocean_mobile_menu_icon_after-->
<!-- do_action:end ocean_header_inner_right_content-->
			</div><!-- #site-header-inner -->

			
<div id="mobile-dropdown" class="clr">

	<nav class="clr" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">

		
	<div id="mobile-nav" class="navigation clr">

		<!-- wp_nav_menu: mobile_menu--><ul id="mobile_menu-menu" class="menu ">{{#data-portlets-sidebar}}{{#data-portlets-first}}{{{html-items}}}{{/data-portlets-first}}{{#array-portlets-rest}}{{{html-items}}}{{/array-portlets-rest}}{{/data-portlets-sidebar}}<!-- get_menu_for_mediawiki: mobile_menu--></ul><!--{"theme_location":"mobile_menu","container":false,"fallback_cb":false}-->

	</div>


<div id="mobile-menu-search" class="clr">
	<form aria-label="{{msg-oceanwp-32}}" method="get" action="{{link-mainpage}}" class="mobile-searchform">
		<input aria-label="{{msg-oceanwp-31}}" value="" class="field" id="ocean-mobile-search-1" type="search" name="s" autocomplete="off" placeholder="{{msg-oceanwp-1}}">
		<button aria-label="{{msg-oceanwp-30}}" type="submit" class="searchform-submit">
			<i class=" icon-magnifier" aria-hidden="true" role="img"></i>		</button>
				<!-- do_action:start wpml_add_language_form_field--><!-- do_action:end wpml_add_language_form_field-->	</form>
</div><!-- .mobile-menu-search -->

	</nav>

</div>

			<!-- do_action:start ocean_after_header_inner--><!-- do_action:end ocean_after_header_inner-->
			
		
		
</header><!-- #site-header -->

<!-- do_action:start ocean_after_header--><!-- do_action:end ocean_after_header--><!-- do_action:end ocean_header-->
			<!-- do_action:start ocean_before_main--><!-- do_action:end ocean_before_main-->
			<main id="main" class="site-main clr" role="main">

				<!-- do_action:start ocean_page_header-->
<!-- do_action:start ocean_before_page_header--><!-- do_action:end ocean_before_page_header-->
<header class="page-header">

	<!-- do_action:start ocean_before_page_header_inner--><!-- do_action:end ocean_before_page_header_inner-->
	<div class="container clr page-header-inner">

		
			<h1 class="page-header-title clr" itemprop="headline">{{{msg-sitetitle}}}</h1>

			
		
		<nav aria-label="Breadcrumbs" class="site-breadcrumbs clr position-" itemprop="breadcrumb"><ol class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2"><meta name="itemListOrder" content="Ascending"><li class="trail-item trail-begin" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="{{link-mainpage}}" rel="home" aria-label="Home" itemtype="https://schema.org/Thing" itemprop="item"><span itemprop="name"><i class=" icon-home" aria-hidden="true" role="img"></i><span class="breadcrumb-home has-icon">Home</span></span></a><span class="breadcrumb-sep">&gt;</span><meta content="1" itemprop="position"></li><li class="trail-item trail-end" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="#t-permalink" itemtype="https://schema.org/Thing" itemprop="item"><span itemprop="name">{{{msg-sitetitle}}}</span></a><meta content="2" itemprop="position"></li></ol></nav>
	</div><!-- .page-header-inner -->

	
	<!-- do_action:start ocean_after_page_header_inner--><!-- do_action:end ocean_after_page_header_inner-->
</header><!-- .page-header -->

<!-- do_action:start ocean_after_page_header--><!-- do_action:end ocean_after_page_header--><!-- do_action:end ocean_page_header-->
	<!-- do_action:start ocean_before_content_wrap--><!-- do_action:end ocean_before_content_wrap-->
	<div id="content-wrap" class="container clr">

		<!-- do_action:start ocean_before_primary--><!-- do_action:end ocean_before_primary-->
		<div id="primary" class="content-area clr">

			<!-- do_action:start ocean_before_content--><!-- do_action:end ocean_before_content-->
			<div id="content" class="site-content clr">

				<!-- do_action:start ocean_before_content_inner--><!-- do_action:end ocean_before_content_inner-->
				
<article id="post-main-article">

	
<!-- do_action:start ocean_before_single_post_title--><!-- do_action:end ocean_before_single_post_title-->
<header class="entry-header clr">
	<h2 class="single-post-title entry-title" itemprop="headline">{{{html-title}}}
</h2>{{>LanguageButton}}<!-- .single-post-title -->
</header><!-- .entry-header -->

<!-- do_action:start ocean_after_single_post_title--><!-- do_action:end ocean_after_single_post_title--><!-- do_action:start ocean_before_single_post_meta--><!-- do_action:end ocean_before_single_post_meta-->
<ul class="meta ospm-default clr">

	
					<li class="meta-author" itemprop="name"><span class="screen-reader-text">Post author:</span><i class=" icon-user" aria-hidden="true" role="img"></i><a href="?action=history">{{msg-history_short}}</a></li>
		
		
		
		
		
		
	
		
					<li class="meta-date" itemprop="datePublished"><span class="screen-reader-text">Post published:</span><i class=" icon-clock" aria-hidden="true" role="img"></i>{{>LastModifiedLine}}</li>
		
		
		
		
		
	
		
		
		
					<li class="meta-cat"><span class="screen-reader-text">Post category:</span><i class=" icon-folder" aria-hidden="true" role="img"></i>{{>CategoryPlain}}</li>
		
		
		
	
		
		
		
		
		
		
	
</ul>

<!-- do_action:start ocean_after_single_post_meta--><!-- do_action:end ocean_after_single_post_meta-->
<!-- do_action:start ocean_before_single_post_content--><!-- do_action:end ocean_before_single_post_content-->
<div class="entry-content clr" itemprop="text">
	<div id="siteNotice">{{{html-site-notice}}}</div><div id="content">{{{html-body-content}}}</div><div>{{{html-after-content}}}</div>
<!-- placeholder:categories -->
</div><!-- .entry -->

<!-- do_action:start ocean_after_single_post_content--><!-- do_action:end ocean_after_single_post_content--><div class="post-tags clr">
	<span class="owp-tag-text">Tags: </span>{{>CategoryPlain}}
</div>

<!-- do_action:start ocean_before_single_post_next_prev--><!-- do_action:end ocean_before_single_post_next_prev-->
<!-- placeholder:get_the_post_navigation -->
<!-- do_action:start ocean_after_single_post_next_prev--><!-- do_action:end ocean_after_single_post_next_prev--><!-- do_action:start ocean_before_single_post_related_posts--><!-- do_action:end ocean_before_single_post_related_posts-->

<!-- do_action:start ocean_after_single_post_related_posts--><!-- do_action:end ocean_after_single_post_related_posts-->{{{html-after-content}}}

</article>

				<!-- do_action:start ocean_after_content_inner--><!-- do_action:end ocean_after_content_inner-->
			</div><!-- #content -->

			<!-- do_action:start ocean_after_content--><!-- do_action:end ocean_after_content-->
		</div><!-- #primary -->

		<!-- do_action:start ocean_after_primary--><!-- do_action:end ocean_after_primary-->
	</div><!-- #content-wrap -->

	<!-- do_action:start ocean_after_content_wrap--><!-- do_action:end ocean_after_content_wrap-->

	</main><!-- #main -->

	<!-- do_action:start ocean_after_main--><!-- do_action:end ocean_after_main-->
	<!-- do_action:start ocean_before_footer--><!-- do_action:end ocean_before_footer-->
	
		<!-- do_action:start ocean_footer-->
<footer id="footer" class="site-footer" itemscope="itemscope" itemtype="https://schema.org/WPFooter" role="contentinfo">

	<!-- do_action:start ocean_before_footer_inner--><!-- do_action:end ocean_before_footer_inner-->
	<div id="footer-inner" class="clr">

		
<!-- do_action:start ocean_before_footer_widgets--><!-- do_action:end ocean_before_footer_widgets-->
<div id="footer-widgets" class="oceanwp-row clr">

	<!-- do_action:start ocean_before_footer_widgets_inner--><!-- do_action:end ocean_before_footer_widgets_inner-->
	<div class="footer-widgets-inner container">

					<div class="footer-box span_1_of_4 col col-1">
				<!-- TODO dynamic_sidebar: footer-one--><!-- dynamic_sidebar:footer-one-->			</div><!-- .footer-one-box -->

							<div class="footer-box span_1_of_4 col col-2">
					<!-- TODO dynamic_sidebar: footer-two--><!-- dynamic_sidebar:footer-two-->				</div><!-- .footer-one-box -->
				
							<div class="footer-box span_1_of_4 col col-3 ">
					<!-- TODO dynamic_sidebar: footer-three--><!-- dynamic_sidebar:footer-three-->				</div><!-- .footer-one-box -->
				
							<div class="footer-box span_1_of_4 col col-4">
					<!-- TODO dynamic_sidebar: footer-four--><!-- dynamic_sidebar:footer-four-->				</div><!-- .footer-box -->
				
			
	</div><!-- .container -->

	<!-- do_action:start ocean_after_footer_widgets_inner--><!-- do_action:end ocean_after_footer_widgets_inner-->
</div><!-- #footer-widgets -->

<!-- do_action:start ocean_after_footer_widgets--><!-- do_action:end ocean_after_footer_widgets-->
<!-- do_action:start ocean_before_footer_bottom--><!-- do_action:end ocean_before_footer_bottom-->
<div id="footer-bottom" class="clr">

	<!-- do_action:start ocean_before_footer_bottom_inner--><!-- do_action:end ocean_before_footer_bottom_inner-->
	<div id="footer-bottom-inner" class="container clr">

		
			<div id="footer-bottom-menu" class="navigation clr">

				<!-- wp_nav_menu: footer_menu--><div class=" mw-wp-menu"><ul id="footer_menu-menu" class="menu ">{{#data-footer.data-places.array-items}}<li id="{{id}}" class="{{class}}">{{{html}}}</li>{{/data-footer.data-places.array-items}}{{#data-footer.data-icons.array-items}}<li id="{{id}}" class="{{class}}">{{{html}}}</li>{{/data-footer.data-icons.array-items}}<!-- get_menu_for_mediawiki: footer_menu--></ul><!--{"theme_location":"footer_menu","sort_column":"menu_order","fallback_cb":false}--></div>

			</div><!-- #footer-bottom-menu -->

			
		
			<div id="copyright" class="clr" role="contentinfo"><span>{{>CopyrightLine}}Copyright - OceanWP Theme by OceanWP</span></div><!-- #copyright -->

			
	</div><!-- #footer-bottom-inner -->

	<!-- do_action:start ocean_after_footer_bottom_inner--><!-- do_action:end ocean_after_footer_bottom_inner-->
</div><!-- #footer-bottom -->

<!-- do_action:start ocean_after_footer_bottom--><!-- do_action:end ocean_after_footer_bottom-->
	</div><!-- #footer-inner -->

	<!-- do_action:start ocean_after_footer_inner--><!-- do_action:end ocean_after_footer_inner-->
</footer><!-- #footer -->
<!-- do_action:end ocean_footer-->
	
	<!-- do_action:start ocean_after_footer--><!-- do_action:end ocean_after_footer-->
</div><!-- #wrap -->

<!-- do_action:start ocean_after_wrap--><!-- do_action:end ocean_after_wrap-->
</div><!-- #outer-wrap -->

<!-- do_action:start ocean_after_outer_wrap--><!-- do_action:end ocean_after_outer_wrap-->

<a aria-label="{{msg-oceanwp-34}}" href="#" id="scroll-top" class="scroll-top-right"><i class=" fa fa-angle-up" aria-hidden="true" role="img"></i></a>




<!-- do_action:start wp_footer--><!-- do_action:end wp_footer-->